@page "{id:int}"
@using GegaGamez.WebUI.Security
@model GegaGamez.WebUI.Pages.Games.IndexModel
@{
    bool authenticated = User.IsAuthenticated();

    int? userId = User.GetId();

    bool isAdmin = User.IsAdmin();
}

<div class="page-content-header border-primary ">
    <a class="go-back-arrow" href="#"><i class="fa-solid fa-arrow-left font-primary"></i></a>
    <h2 class="font-contrast title">@Model.Game.Title</h2>
</div>
<article id="about-game" class="flex-container">
    <img id="game-img" class="img-standard" src="/img/game.png" alt="Game img" />

    <section id="game-text-info" class="text-info-block">
        <h1>@Model.Game.Title</h1>
        
        <span>
            @if(Model.Game.AvgRatingScore.HasValue)
            {
                <span>Average: @Model.Game.AvgRatingScore / 10</span>
            }
            else
            {
                <span class="font-contrast">No rating yet</span>
            }
            @if (Model.UserRatingForGame.HasValue)
            {
                <span class="font-contrast"> | My rating - @Model.UserRatingForGame.Value</span>
            }
         
        </span>
        <span class="font-secondary">
            <a asp-page="/Developers/Index" asp-route-id="@Model.Game.Developer.Id" class="font-secondary">@Model.Game.Developer.Name</a>
        </span>

        <span class="font-secondary">
            @foreach(var genre in Model.GameGenres)
            {
                <span>@genre.Name</span>
            }
        </span>

        <span>
            @Model.Game.Description
        </span>
    </section>

    <section class="btn-group">
        @if(authenticated == true)
        {
           <button type="button" class="btn-contrast rounded" onclick="showCollectionModal()">Add to</button>
           <button type="button" class="btn-contrast rounded" onclick="showRateGameModal()">Rate</button> 
           if (isAdmin)
            {
                <button type="button" class="btn-contrast rounded" onclick="showDeleteGameModal()">Delete game</button>
                <a class="btn-contrast rounded" asp-page="/Games/Update" asp-route-id=@Model.Game.Id>Edit game</a>   
            }
        }
    </section>
</article>

<section id="comments-section">
    <h3>Comments</h3>

    @if(authenticated == true)
    {
        <button type="button" class="font-primary borderless link-default btn-add-comment">
            Add comment
        </button>
        <form asp-page-handler="Comment" method="post" class="flex-container form-add-comment">
            <img class="img-standard circle user-avatar" src="/img/avatar.png" alt="Alternate Text" />
            <input asp-for="NewComment!.UserId" value="@userId" hidden/>
            <input asp-for="NewComment!.GameId" value="@Model.Game.Id" hidden />

            <textarea asp-for="NewComment!.Text" class="comment-textarea" placeholder="Enter your comment here..."></textarea>

            <div class="btn-group comment-actions">
                <button type="submit" class="btn-add-comment btn-contrast btn-icon"><i class="fa-regular fa-paper-plane"></i></button>
            </div>
        </form>
    }
    @foreach(var comment in Model.Comments)
    {
        <article class="flex-container game-comment">
			<a asp-page="/Users/Index" asp-route-id="@comment.User.Id">            
                <img class="img-standard circle user-avatar" src="/img/avatar.png" alt="Alternate Text" />
            </a>
            <span>
                @comment.Text
                <span class="font-secondary">
                    - @comment.CreatedAt.ToShortDateString() by
                    <a class="inverse-link" asp-route-id="@comment.User.Id" asp-page="/Users/Index">@comment.User.Username</a>

                </span>
            </span>

            <div class="btn-group comment-actions">
                
                @if(comment.User.Id == userId){
                    <button type="button" onclick="showDeleteCommentModal(@comment.Id)" class="btn-contrast btn-icon btn-remove-comment">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                }
            </div>
        </article>
    }
  
</section>

<!-- Delete Comment modal -->
<form asp-page-handler="DeleteComment" method="post" id="delete-comment-modal" class="popup-interactive bg-secondary border-primary">
    <h3 class="font-contrast">Delete this comment?</h3>
    <input type="number" name="id" hidden value="@Model.Game.Id" readonly />
    <section class="main-something"></section>
    <section class="popup-actions">
        <button type="submit" class="borderless">Yes, delete</button>
        <button type="button" onclick="hideDeleteCommentModal()" class="btn-contrast rounded">Cancel</button>
    </section>
</form>

<!-- Game to Collection modal -->
<form asp-page-handler="MoveGameToCollection" method="post" id="move-game-to-collection-modal" class="popup-interactive bg-secondary border-primary">
    <h3 class="font-contrast">Select collection:</h3>
    <input asp-for=GameToDefaultCollection.GameId value=@Model.Game.Id readonly hidden />
    <input asp-for=GameToUserCollection.GameId value=@Model.Game.Id readonly hidden />
    <section title="Select collection..." class="main-something">
        <select size="5" asp-for=GameToDefaultCollection.CollectionId asp-items=@Model.AvailableDefaultCollections></select>
      
        <select size="5" hidden asp-for=GameToUserCollection.CollectionId asp-items=@Model.AvailableUserCollections></select>
    </section>
    <section class="popup-actions">
        <button type="submit" class="borderless">Ok</button>
        <button type="button" onclick="hideCollectionModal()" class="btn-contrast rounded">Cancel</button>
    </section>
</form>

<!-- Rate Game modal -->
<form method="post" asp-page-handler="RateGame" id="rate-game-modal" class="popup-interactive bg-secondary border-primary">
    <h3 class="font-contrast">
        How do you rate this game?
    </h3>
    <input asp-for="UpdateUserRating.GameId" value="@Model.Game.Id" hidden/>
    <input asp-for="UpdateUserRating.UserId" value=@userId  hidden/>
    <section class="main-something">
        <select asp-for="UpdateUserRating.RatingScore" title="Score?" asp-items=@Model.AvailableRatingScores></select>
    </section>
    <section class="popup-actions">
        <button type="submit" class="borderless">Rate!</button>
        <button type="button" onclick="hideRateGameModal()" class="btn-contrast rounded">Cancel</button>
    </section>

</form>

<!-- Delete Game modal -->
<form method="post" asp-page-handler="DeleteGame" asp-route-gameid=@Model.Game.Id id="delete-game-modal" class="popup-interactive bg-secondary border-primary">
    <h3 class="font-contrast">
        Are you sure you want to delete this game?
    </h3>
    <input type="number" name="id" value=@Model.Game.Id  readonly hidden />
    <section class="popup-actions">
        <button type="submit" class="borderless">Delete!</button>
        <button type="button" onclick="hideDeleteGameModal()" class="btn-contrast rounded">Cancel</button>
    </section>
</form>