@page
@using System.Collections;
@model GegaGamez.WebUI.Pages.Games.SearchModel
@{
    var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
    var keepedUrl = $"{routeUrl}{qsPath}";

    ICollection<int> genreFilters(int genreId)
    {
        var genres = new HashSet<int>(Model.ByGenre);

        if(genres.Contains(genreId))
        {
            genres.Remove(genreId);
        }
        else
        {
            genres.Add(genreId);
        }
        return genres;
    }

}

<ul id="genre-selector" class="border-primary">
    @foreach(var genre in Model.AvailableGenres)
    {
        // generate genre link
        <li>
            <!-- if genre is selected, apply link-current style -->
           @* <a asp-page="/Games/Search" class="@(Model.ByGenre.Contains(genre.Id) ? "link-current" : "")"
            asp-all-route-data="@routeWithGenre(genre.Id)" asp-route-ByGenre="">@genre.Name</a>*@

           <a href="@Url.Page("/Games/Search", new {ByGenre=genreFilters(genre.Id), GameTitle = Model.GameTitle})"
                class="@(Model.ByGenre.Contains(genre.Id) ? "link-current" : "")">@genre.Name</a>
        </li>  
    }
</ul>

<form id="search-form" class="rounded border-contrast" method="get"
    action="@keepedUrl">
    <input id="searchbox" asp-for="GameTitle" class="font-primary borderless search-field" type="search" placeholder="Search..." />
    <button type="submit" class="search-button font-contrast borderless">
        <i class="fa-solid fa-magnifying-glass"></i>
    </button>
</form>

<section id="search-results">
    <h2>Search results:</h2>

    @if(Model.Games.Count == 0)
    {
        // draw controller
        <i id="beatiful-gamepad" class="fa-solid fa-gamepad"></i>
    }
    else
    {
        foreach (var game in Model.Games)
        {
            // render each game

            <article class="flex-container search-result game-item">
                <a asp-page="/Games/Index" asp-route-id="@game.Id">
                    <img class="img-standard game-img hover-shadow" 
                    src="/img/game.png"
                    alt="Game avatar" />
                </a>

                <div class="text-info-block">
                    <h3 class="game-title-small">@game.Title</h3>

                    <span class="rating-small">
                        Average score / 10
                    </span>

                    <span class="font-secondary">
                        @game.ReleaseDate.Year, @game.Developer.Name
                    </span>

                    <span class="game-description-small">
                        @game.Description
                    </span>
                </div>
            </article>
        }
    }
</section>