@page "/Users/{userId:int}/{defaultCollection:alpha}"
@using GegaGamez.WebUI.Models
@using GegaGamez.WebUI.Models.Display
@using GegaGamez.WebUI.Security
@model GegaGamez.WebUI.Pages.Users.Collections.DefaultModel
@{
    bool authenticated = User.IsAuthenticated();

    int? userId = User.GetId();

    bool ownedByThisUser = userId == Model.Collection.User.Id;
}


<section id="collection-full-info">
    <header id="collection-header" class="border-primary">
        <a class="go-back-arrow" onclick="history.go(-1);"><i class="fa-solid fa-arrow-left font-primary"></i></a>
        <h2 id="collection-name">
            <span>@Model.Collection.User.Username - </span>
            <span>@Model.Collection.Type.Name</span>
            </h2>
    </header>
</section>

<section id="games-in-collection">
    @foreach(GameModel game in Model.GamesInCollection)
    {
        <article class="flex-container search-result display-toggler-hover game-item"> 
            <a asp-page="/Games/Index" asp-route-id="@game.Id">
                <img class="img-standard game-img hover-shadow" 
                src="/img/game.png"
                alt="Game avatar" />
            </a>

            <div class="text-info-block">
                <h3 class="game-title-small">@game.Title</h3>

                @if (game.AvgRatingScore.HasValue)
                {
                    <span class="rating-small">@game.AvgRatingScore / 10</span>
                }
                else
                {
                    <span class="rating-small font-contrast">No rating yet</span>
                }

                <span class="font-secondary">
                    @game.ReleaseDate.Year,
                    <a asp-page="/Developers/Index" asp-route-id=@game.Developer.Id> @game.Developer.Name</a>
                </span>

                <span class="game-description-small">
                    @game.Description
                </span>
            </div>
            <div class="btn-group game-action-buttons display-toggled">
                @if (authenticated && ownedByThisUser){
                    @*<button onclick="showCollectionModal(@game.Id)" class="btn-contrast rounded">Move to</button>*@
                    <button type="button" onclick="showRemoveFromCollectionModal(@game.Id)" class="btn-contrast rounded">Remove</button>
                }
            </div>
        </article>
    }
</section>

<!-- REMOVE GAME FROM COLLECTION modal!!! -->
<form method="post" asp-page-handler="RemoveGame" id="remove-game-from-collection-modal" class="popup-interactive bg-secondary border-primary">
    <h3 class="font-contrast">Remove this game from collection?</h3>
    <input type="number" name="gameId" readonly hidden />
    <input type="number" value="@Model.Collection.Id" name="collectionId" readonly hidden/>
    <section class="popup-actions">
        <button type="submit" class="borderless">Yes, remove</button>
        <button type="button" onclick="hideRemoveFromCollectionModal()" class="btn-contrast rounded">Cancel</button>
    </section>
</form>