@page "{id:int}"
@using GegaGamez.WebUI.Security
@model IndexModel
@{


    bool authenticated = User.IsAuthenticated();

    bool isPageOwner = User.GetId() == Model.UserProfile.Id;

    if (isPageOwner)
    {
        ViewData ["profile"] = true;
    }
}
<article id="user-profile">
    <img id="user-avatar-big" class="img-standard circle border-primary" src="/img/avatar.png" alt="User image" />
    <div id="info-and-buttons-container" class="flex-container">
        <section id="user-text-info" class="text-info-block">
            <h2>
				@Model.UserProfile.Username
                @if(User.IsInRole(Roles.Admin))
                {
                    <span class="font-contrast">(admin)</span>
                }
            </h2>

            <span class="font-secondary">
                @Model.UserProfile.Country?.Name
            </span>

            <span>
                @Model.UserProfile.Name
            </span>

            <span>
                @Model.UserProfile.About
            </span>
        </section>

        <section id="profile-buttons" class="btn-group">
            @if(authenticated && isPageOwner)
            {
                <button onclick="showEditProfileModal()" type="button" class="btn-contrast rounded">Edit profile</button>
                <button onclick="showDeleteAccountModal()" type="button" class="btn-contrast rounded font">Delete my profile</button>
            }
        </section>
    </div>

    <section id="default-collections-section" class="">
        <h2>Default Collections</h2>

        <div class="collections-container">

            @foreach(var defaultCollection in Model.DefaultCollections)
            {
                // render collection
                <div class="game-collection-item default-collection-item">
                    <a href="/Users/@(Model.UserProfile.Id)/@(defaultCollection.Type.Name)" class="game-collection-card user-collection-card">
                        <img class="collection-preview" src="/img/game.png" alt="Last game added to collection" />
                        <span class="collection-name">@defaultCollection.Type.Name</span>
                    </a>
                    <section class="game-collection-actions">

                    </section>
                </div>
            }

        </div>
    </section>

    <section id="user-collections-section">
        <h2>Custom Collections</h2>

        <div class="collections-container">

            @foreach(var userCollection in Model.UserCollections)
            {
                // render collections
                <div class="game-collection-item user-collection-item">
                    <a asp-page="/Collections/Index" class="game-collection-card user-collection-card">
                        <img class="collection-preview" src="/img/game.png" alt="Last game adde to collection" />
                        <span class="collection-name">@userCollection.Name</span>
                    </a>

                    <section class="game-collection-actions">
                        <button type="button" onclick="showDeleteCollectionModal()" class="btn-contrast btn-icon btn-remove-collection"><i class="fa-solid fa-trash"></i></button>
                    </section>
                </div>
            }
         
        </div>
    </section>
</article>

<form asp-page-handler="UpdateProfile" method="post" id="edit-profile-modal" class="popup-interactive bg-secondary border-primary">
    <input hidden asp-for=UpdatedUserProfile.Id value=@Model.UserProfile.Id />
    <h3 class="font-contrast">Edit profile info</h3>
    <section class="main-something">
        <div class="input-block">
            <label>Choose your country</label>
            <select asp-items=@Model.Countries asp-for=UpdatedUserProfile.CountryId>

            </select>
        </div>

        <div class="input-block">
            <label>Say a few things about yourself</label>
            <textarea asp-for=UpdatedUserProfile.About title="About" placeholder="About yourself"></textarea>
        </div>
    </section>
    <section class="popup-actions">
        <button type="submit" class="borderless">Update profile</button>
        <button type="button" onclick="hideEditProfileModal()" class="btn-contrast rounded">Cancel</button>
    </section>
</form>

<form asp-page-handler="DeleteAccount" method="post" id="delete-account-modal" class="popup-interactive bg-secondary border-primary">
    <input hidden name="userId" value=@Model.UserProfile.Id />
    <h3 class="font-contrast">Warning!</h3>
    <section class="main-something">
        <h4>Are you sure you want to delete your account? This action cannot be reverted.</h4>
    </section>
    <section class="popup-actions">
        <button type="submit" class="borderless">Yes, delete</button>
        <button type="button" onclick="hideDeleteAccountModal()" class="btn-contrast rounded">Cancel</button>
    </section>
</form>

