@using GegaGamez.WebUI.PageHelpers
@using GegaGamez.WebUI.Security
@{

    bool authenticated = User.IsAuthenticated();

    int? userId = User.GetId();

    string NavLinkShouldBeSelected(string link)
    {
        var className = string.Empty;

        object? shouldBeSelected;

        if (ViewData.TryGetValue(link, out shouldBeSelected) && (bool)shouldBeSelected! is true)
        {
            className = "link-current";
        }

        return className;

    }

    object? infoMessageContent;
    bool showInfoMessage = TempData.TryGetValue(Messages.InfoKey, out infoMessageContent);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GegaGamez.WebUI</title>

    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/fonts.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/utilities.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sitewide.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/GegaGamez.WebUI.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/331c1e0eaf.js" crossorigin="anonymous"></script>

</head>
<body class="font-primary bg-primary">
    <header id="page-header">
        <nav id="header-links">
            <a asp-page="/Index" id="header-logo" class="">
                <h1>
                    <span class="font-contrast">Gega</span><span class="font-primary">Gamez</span>
                </h1>
            </a>

            @if(authenticated == true)
            {
                <a class="@NavLinkShouldBeSelected("profile")" asp-page="/Users/Index" asp-route-id="@userId">Profile</a>
            }

            <a class="@NavLinkShouldBeSelected("community")" asp-page="/Users/Search">
                Community
            </a>

            <a class="@NavLinkShouldBeSelected("developers")" asp-page="/Developers/Search">
                Developers
            </a>

            @if(User.IsInRole(Roles.Admin))
            {
                <a class="@NavLinkShouldBeSelected("report")" asp-page="/Admin/Report">
                    Report
                </a>
            }
            

            @if(authenticated == true)
            {
                <a asp-page="/Logout" class="btn-contrast rounded">Logout</a>
            }
            else
            {
                <a class="@NavLinkShouldBeSelected("login")" asp-page="/Login">Login</a>
                <a class="@NavLinkShouldBeSelected("register")" asp-page="/Register">Register</a>
            }
        </nav>
    </header>

    <main id="main-container">
        @RenderBody()
    </main>

    <footer id="page-footer">
        Maksym Syvash 2022 (c)
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if(showInfoMessage)
    {
        <script>
            closeInfoMessageShortly();
        </script>
        <div class="info-modal" id="info-message">
            <span>@((string?)infoMessageContent)</span>
            <button onclick="closeInfoMessage()" type="button" class="borderless">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    }


    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>